/*

Name    : Calvin Vong
Class   : Web Application Development
Assign# : Activity 2
Due : 1/13/2019

Description: Code for project using CSS.

*/


body {
    font: "Times New Roman", serif;
    font-size: 115%;
    width: 95%;
    max-width: 1200px;
    margin: 15px;
	  background-color: #B9C1D9;
    border-style: groove;
    border-radius: 15px 15px 15px 15px;
    text-align: left;

}

header {
    text-align: center;
    font-variant: normal;
}

h1 {
  text-align: left;
}
nav {
    text-align: right;
    margin-bottom: 15px;
}

nav ul {
    font-variant: normal;
    list-style-type: none;
    margin: 0px;
}

nav ul li {
    display: inline;
    font-weight: bold;
    margin: 0px 10px;
}

nav ul li a {
    text-decoration: none;
}

}

iframe
{
  width: 70%;
  margin: auto;
  display: block;
}
img
{
  width: 50%;
  margin: auto;
  display: block;
}


footer
{
    text-align: center;
    color: black;
    font-size: 85%;
}
